html {
  background-color: black;
  text-align: center;
  font-family: Verdana,sans-serif;
}

p {
  color: gray;
  font-size: 21px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

#copyright {
  text-align: right;
}
