html {
  background-color: black;
  text-align: center;
}

p {
  color: gray;
  font-family: Verdana,sans-serif;
  font-size: 21px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

#copyright {
  text-align: right;
}
